@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: (30px / -2);
    margin-left: (30px / -2);
}

$blanco: #fff;
$azul: #007bff;
.logo {
    .triangulo {
        -webkit-clip-path: polygon(50% 100%, 3% 0, 100% 0);
        clip-path: polygon(50% 100%, 3% 0, 100% 0);
        width: 100%;
        background-color: $azul;
        height: 50%;
    }
    .titulo {
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        padding: 0px;
    }
}

nav {
    ul.navbar-nav {
        li.nav-item button {
            &:hover {
                background-color: $azul;
                font-weight: bold;
                & a:hover {
                    color: #ffffff;
                }
            }

            width: 96%;
        }
        .nav-link {
            &:hover {
                color: #ffffff;
                background-color: rgba($azul, 0.50);
            }

            color: #ffffff;
        }
    }
}

body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    body>.container-fluid {
        height: 100vh;
        #Aside {
            margin-top: 0;
            padding-top: 0;
        }
    }
    .container-lg {
        height: auto;
    }
    .Contenido_Principal {
        margin: 0;
        background-image: url('../Produccion/assets/img/Traslucido.jpg');
        padding: 0;
        .bg-image.header {
            .mask {
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
                width: 52em;
                height: 100%;
                padding: 0em 1em 0em 0em;
                background-color: rgba(255, 255, 255, 0.54);
                overflow: hidden;
                row.logo {
                    overflow: hidden;
                }
                text-white {
                    position: absolute;
                    .logo#header.position-absolute {
                        .titulo {
                        }

                        background-color: #ffffff
                    }
                }
            }

            background-image: url('https://industriasica.com/wp-content/uploads/2019/05/producto37.jpg');
            height: 400px;
            background-size: cover;
            padding: 0
        }
    }
    #main {
        height: 123em;
    }

    -webkit-box-pack: 1889px;
    width: 100%;
}

.Home {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    .header {
        .mask {
            margin-top: 3em;
        }
    }
    .ofertas.row {
        overflow: hidden;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        &.logo {
        }
        .card {
            margin: 0em;
            padding: -36px;
            h3 {
                & span {
                    display: flex;
                    font-weight: bold;
                }
                & div.slider {
                    width: 100&;
                    & img {
                    }
                }
            }
            img.card-img {
            }
            .carousel {
                max-height: 78em;
            }
            div.card-body {
                h5.card-title {
                }
                p.card-text {
                }
                a.btn.btn-primary {
                }
            }
        }
    }
}

.row {
    justify-content: flex-end;
    padding-right: 1em;
    .botonWhatsapp {
        height: 65px;
        background-color: #32ff00;
    }
}

#Home.Home.container-fluid .row .col-md-4 .card {
    margin-right: 1em;
    padding-left: 1em;
    .card-header {
        padding: 0;
        margin-left: -1em;
        margin-right: -1em;
    }
}