
//home
main.page.container-fluid.Home.container-fluid
    //ofertas
    section.ofertas.carrousel.1-slide-X-3-ofertas
            .slide
                //Alfombras de goma
                .oferta
                    h3 Alfombras de goma
                    .slider
                        img(src="assets/img/ofertas/alfombras-de-goma.PNG", alt="Alfombras de goma")
                
                // Alfombras de boucle
                .oferta
                    h3 Alfombras de boucle
                    .slider
                        img(src="assets/img/ofertas/alfombras-de-boucle.PNG", alt="Alfombras de boucle")
                        img(src="assets/img/ofertas/slider 2 alfombras de boucle.PNG", alt="Alfombras de boucle")
                        img(src="assets/img/ofertas/slider 3 alfombras de boucle.PNG", alt="Alfombras de boucle")
                    .descripcion
                        h3 ALFOMBRAS DE BOUCLE

                        p.nombre HABITACULO :
                            .precio 750 $ AR
                        p.nombre BAUL:
                            .precio 400 $ AR
                        p.nombre RESPALDO:
                            .precio 300 $ AR
                        p.nombre ZOCALO:
                            .precio 200 $ AR


                //Paravientos
                .oferta
                    h3 Burletes para ventanillas
                    a(href="")
                        img(src="assets/img/ofertas/BURLETES-PARA-VENTANILLAS.PNG", alt="Burletes para ventanillas")
                //Colisas
                .oferta
                    h3 Burletes para puertas de autos
                    a(href="")
                        img(src="assets/img/ofertas/BURLETES-PARA-PUERTAS-DE-AUTOS.PNG", alt="Burletes para puertas de autos")

                //balvula
                .oferta
                    h3 balvula
                    .slider
                        img(src="assets/img/ofertas/BURLETES-PARA-VENTANILLAS.PNG", alt="Burletes para ventanillas")
                    .descripcion
                        h3 Balvula Esferica - 
                        p Marca: Genebre - 3/4 - Bronce - 200 $ AR

                //Manguera Flexible para Frenos
                .oferta
                    h3 Manguera Flexible para Frenos
                    .slider
                        img(src="assets/img/ofertas/manguera-p-frenos-1.PNG", alt="Manguera Flexible para Frenos")
                        img(src="assets/img/ofertas/manguera-p-frenos-2.PNG", alt="Manguera Flexible para Frenos")
                        img(src="assets/img/ofertas/manguera-p-frenos-3.PNG", alt="Manguera Flexible para Frenos")
                        img(src="assets/img/ofertas/manguera-p-frenos-4.PNG", alt="Manguera Flexible para Frenos")
                    .descripcion
                        h3 Balvula Esferica
                            .precio $50
                        .slider
                            img(src="assets/img/ofertas/valvula-1.PNG", alt="Balvula Esferica")
                            img(src="assets/img/ofertas/valvula-2.PNG", alt="Balvula Esferica")
                        p hay de distintas marcas: Fiat Uno, Chevrolet... ect.

                //Prensa Hidraulica
                .oferta
                    h3 Prensa Hidraulica
                    .slider
                        img(src="assets\img\ofertas\Prensa-Hidraulica-1.PNG", alt="Prensa Hidraulica")
                        img(src="assets\img\ofertas\Prensa-Hidraulica-2.PNG", alt="Prensa Hidraulica")
                    .descripcion    
                        p La prensa hidraulica a columna esta en muy buen estado, esta lista para prensar terminales, el valor de venta es de 
                            .precio AR$ 70.000
                
                //Alfombras de goma
                .oferta
                    h3 Alfombras de goma
                    .slider
                        img(src="assets\img\ofertas\alfombras-de-goma-1.PNG", alt="Alfombras de goma")
                        img(src="assets\img\ofertas\alfombras-de-goma-2.PNG", alt="Alfombras de goma")
                        img(src="assets\img\ofertas\alfombras-de-goma-3.PNG", alt="Alfombras de goma")
                    .descripcion    
                        p LISTADO EN PDF - ALFOMBRAS DE GOMA EN OFERTA
                        br
                        p Todas
                            .precio AR$ 800
.page.contacto
    .row.mapa
    .row
        .boton.whatsapp
        .boton.facebook
        p Consulta de  Ventas:  11-6853-0261 
        p Mail: ventas@progom.com.ar 
        p Tecnicas: 11-3648-7711
        .mercado-libre

    //acercaDe
    section.acercaDe
        header
            h2 BIENVENIDO  AL SITE  DE LA COMPAÑIA:

            p Progom fue creada en octubre de 1978 como una empresa dedicada a la venta de artículos de goma para el automotor y la industria. El motor y objetivo siempre fue satisfacer al cliente y brindarle soluciones a sus problemas. Es por eso que con el paso del tiempo y debido a las exigencias del mercado nos fuimos especializando también en hidráulica y luego en neumática.
            p Hoy cerca de cumplir los 40 años, con casi 25.000 artículos en inventario, asesoramiento técnico profesional, representando a las más reconocidas marcas del rubro brindamos servicio diariamente a más de 500 clientes finales y revendedores; teniendo como objetivo el mejor servicio, siempre con productos de última generación.

            p.animadoDeDerechaAIzquierda Realiza tu pedido a nuestro Mail (ventas@progom.com.ar) o WhatsApp (Cel: 11-6853-0261) y podés retirarlo de 9 a 16 hrs por Av. Calchaquí 490 Berazategui - ( Mail Alternativo:  progomsrl1@gmail.com
    //carrousels
    .carrousel#1
        .slider
            img(src="../assets/img/slides/carousel 1/1.PNG", alt="")
            img(src="../assets/img/slides/carousel 1/2.PNG", alt="")
            img(src="../assets/img/slides/carousel 1/3.jpg", alt="")
            img(src="../assets/img/slides/carousel 1/4.PNG", alt="")
    .carrousel#2
        .slider
            img(src="../assets/img/slides/carousel 2/1.PNG", alt="")
            img(src="../assets/img/slides/carousel 2/2.PNG", alt="")
            img(src="../assets/img/slides/carousel 2/3.jpg", alt="")
    .carrousel#3
        .slider
            img(src="../assets/img/slides/carousel 3/1.PNG", alt="")
            img(src="../assets/img/slides/carousel 3/2.PNG", alt="")
            img(src="../assets/img/slides/carousel 3/3.jpg", alt="")

    .botonesFlotantes
        a.whatsapp(href="#")
        a.mail(href="#")
        a.facebook(href="#")

//productos
main.page.container-fluid.productos
    .carrouselDeProductos#conduccion-de-fluidos conduccion-de-fluidos
        .producto#mangueras-de-caucho mangueras-de-caucho
        .producto#manqueras-termoplasticas manqueras-termoplasticas
        .producto#mangueras-industriales mangueras-industriales
        .producto#conectores-para-tuberias conectores-para-tuberias
        .producto#acoples-rapidos acoples-rapidos
        .producto#flexibles-de-acero-inoxidable flexibles-de-acero-inoxidable

    .carrouselDeProductos#sellos-y-adhesivos sellos-y-adhesivos
        .producto#sellos sellos
        .producto#adhesivos adhesivos

    .carrouselDeProductos#oleo-hidraulica oleo-hidraulica
        .producto#bombas bombas
        .producto#valvulas-h valvulas-h
        .producto#motores motores
        .producto#cilindros-h cilindros-h
        .producto#centrales centrales

    .carrouselDeProductos#automatizacion-neumatica automatizacion-neumatica
        .producto#equipos-de-tratamiento-de-aire equipos-de-tratamiento-de-aire
        .producto#filtros-coalescentes filtros-coalescentes
        .producto#valvulas-n valvulas-n
        .producto#cilindros-n cilindros-n
        .producto#conectores-y-tubos-instantaneos conectores-y-tubos-instantaneos

    .carrouselDeProductos#filtracion filtracion
        .producto#filtros filtros
        .producto#equipos-de-diagnostico equipos-de-diagnostico
        .producto#equipos-de-limpieza-de-aceite equipos-de-limpieza-de-aceite

    .carrouselDeProductos#elementos-para-transmicion elementos-para-transmicion
        .producto#correas correas
        .producto#acoplamientos acoplamientos

    .carrouselDeProductos#articulos-de-goma articulos-de-goma
        ul.producto#burletes burletes
            li.tipo#Caucho-micro-celular    Caucho micro celular
            li.tipo#Caucho-sintetico    Caucho sintetico
            li.tipo#Silicona    Silicona
            li.tipo#Estandar-bajo-plano    Estandar bajo plano
        ul.producto#planchas-especiales planchas-especiales
            li.tipo#Silicona    Silicona
            li.tipo#Viton    Viton
            li.tipo#Neopreno    Neopreno
            li.tipo#Hypalon    Hypalon
            li.tipo#Para-absorber-vibraciones    Para absorber vibraciones
        ul.producto#pisos-de-goma pisos-de-goma
            li.tipo#Lisos    Lisos
            li.tipo#A-bastones    A bastones
            li.tipo#Moneda    Moneda
        ul.producto#piezas-de-caucho piezas-de-caucho
            li.tipo#Estandar    Estandar
            li.tipo#Bajo-plano    Bajo plano
            li.tipo#En-caucho-o-Caucho-metal    En caucho o Caucho metal
        ul.producto#automotor automotor
            li.tipo#Cubre-Alfombras    Cubre Alfombras
            li.tipo#Burletes    Burletes
            li.tipo#Soportes-de-motor    Soportes de motor
            li.tipo#Diafragmas-de-freno    Diafragmas de freno
            li.tipo#Pulmones-de-suspension    Pulmones de suspension
            li.tipo#Canos-curbos-para-motor    Caños curbos para motor

//servicios
main.page.container-fluid.servicios
    header
        h3 SERVICIOS
        p En Progom ofrecemos soluciones específicas para las necesidades de nuestros clientes, en servicios de pre y post venta.
            a(href="").button.btn.btn-primary.collapse(type='submit') 
                h2.heading1 mantenimiento
            .collapsable
                h3.heading2 MANTENIMIENTO
                <p>Entre nuestra amplitud de líneas y asesoramiento profesional conseguimos que la gestión de mantenimiento tenga con nosotros una única fuente de productos y servicios
                h4.heading3 Conducción de fluídos
                p Relevamos e identificamos mangueras en planta, luego solo leyendo el código del precinto colocado en la identificación y con un llamado telefónico ó enviándonos un e-mail UD. recibirá su manguera.
                p Mejoramos la vida útil de mangueras en aplicaciones con condiciones severas: trasvase de químicos agresivos, alta temperatura, abrasión, pulsos de presión, etc.
                p Eliminamos pérdidas y fugas con programa DRY TECH. Entregas rápidas en casos de emergencia o parada de planta.
                p Damos cursos ó charlas sobre conducción de fluidos.
                h4.heading3 Sellos y adhesivos
                p Asesoramos sobre aplicaciones en sellos y adhesivos. Desarrollamos piezas especiales de caucho. Damos cursos y charlas sobre sellos y aplicaciones.
                h4.heading3 Oleohidráulica
                p Reparamos cilindros hidráulicos. Fabricamos cilindros estándar y especiales.
                p Diseñamos y construimos centrales.
                p Reparamos componentes.
                p Diseñamos circuitos para resolver automatizaciones.
                p Conseguimos el reemplazo de cualquier componente que Ud. no consiga.
                p Diseñamos y montamos en planta líneas de tuberías óleo hidráulicas.
                p Damos cursos o charlas sobre óleo hidráulica. Automación neumática
                h4.heading3 Diseñamos circuitos.
                p Eliminamos el agua condensada en circuitos neumáticos.
                p Eliminamos el aceite de compresor en circuitos neumáticos.
                p Conseguimos el reemplazo de cualquier componente que Ud. no consiga.
                p Reparamos componentes.
                p Diseñamos y montamos en planta líneas de tuberías neumáticas.
                p Damos cursos ó charlas sobre automatización neumática.
                h4.heading3 Filtración
                p Asesoramos sobre la aplicación de filtros en circuitos hidráulicos para disminuir la contaminación.
                p Determinamos elementos ó cartuchos equivalentes.
                p Asesoramos sobre instrumentos de medición de contaminación.
                p Damos cursos sobre control de la contaminación.
                h4.heading3 Transmisiones
                p Asesoramos sobre aplicaciones en correas.
                p Desarrollamos correas especiales.
                p Damos cursos y charlas sobre correas.
        a(href="").button.btn.btn-primary.collapse(type='submit') 
            h2.heading1 para fabricantes de equipos
        .collapsable
            h3.heading2 PARA FABRICANTES DE EQUIPOS

            p Proveemos al fabricante de equipos, una excelente relación entre el asesoramiento, el costo de los productos y el servicio de entrega.

            h4.heading3 Conducción de fluídos
            p Diseñamos junto a su oficina de ingeniería, el mejor sistema de conducción de fluidos.
            p Contamos con las últimas tecnologías tanto en prensado de terminales como en conectores para tuberías.
            p Proveemos kits armados y por separado para cada equipo que Ud. fabrique.
            p Realizamos entregas programadas de los kits para su mejor resultado financiero.
            p Mejoramos la vida útil de mangueras en aplicaciones con condiciones severas: trasvase de químicos agresivos, alta temperatura, abrasión, pulsos de presión, etc.
            p Eliminamos pérdidas y fugas con programa DRY TECH.
            p Proveemos kits armados y por separado para cada equipo que Ud. fabrique.
            p Realizamos entregas programadas de los kits para su mejor resultado financiero.
            p Damos cursos ó charlas sobre conducción de fluidos.
            h4.heading3 Sellos y adhesivos
            p Asesoramos sobre aplicaciones en sellos y adhesivos.
            p Desarrollamos piezas especiales de caucho.
            p Damos cursos y charlas sobre sellos y aplicaciones.
            h4.heading3 Oleohidráulica
            p Fabricamos cilindros estándar y especiales.
            p Diseñamos y construimos centrales.
            p Reparamos componentes.
            p Diseñamos circuitos para resolver automatizaciones.
            p Conseguimos el reemplazo de cualquier componente que Ud. no consiga.
            p Diseñamos y montamos en planta líneas de tuberías óleo hidráulicas.
            p Damos cursos o charlas sobre óleo hidráulica.
            h4.heading3 Automación neumática
            p Diseñamos circuitos.
            p Conseguimos el reemplazo de cualquier componente que Ud. no consiga.
            p Diseñamos y montamos en planta líneas de tuberías neumáticas.
            p Damos cursos ó charlas sobre automatización neumática.
            h4.heading3 Filtración
            p Diseñamos junto a su oficina de ingeniería el mejor conjunto de filtros que tiene que llevar su circuito óleo hidráulico.
            p Asesoramos sobre la aplicación de filtros en circuitos hidráulicos para disminuir la contaminación.
            p Asesoramos sobre instrumentos de medición de contaminación.
            p Damos cursos sobre control de la contaminación.
            h4.heading3 Transmisiones
            p Asesoramos sobre aplicaciones en correas.
            p Desarrollamos correas especiales.
            p Damos cursos y charlas sobre correas.
        a(href="").button.btn.btn-primary.collapse 
            h2.heading1 para revendedores y distribución
    
        img(src="./assets/img/Servicios/footer.PNG", alt="")
        .collapsable
            h3.heading2 PARA REVENDEDORES Y DISTRIBUCION

            p Brindamos a los negocios de óleo hidráulica y casas de goma, el mejor asesoramiento del mercado, para nosotros el menor precio no asegura el mayor éxito en su negocio. Hacemos acuerdos de fidelidad (no le vendemos a otro en su ciudad).

            h4.heading3 Conducción de fluídos
            p Asesoramos y vendemos mangueras, terminales y máquinas para prensar.
            p Enviamos en el acto mangueras armadas Parker, originales de todas las marcas de máquinas viales y agrícolas de primer nombre internacional (tipo John Deere, Massey, CAT, Case, etc.) así se asegura el mejor resultado para su cliente.
            p Descuentos especiales en productos Parker y Dunlop.
            p Damos cursos ó charlas en mangueras, terminales y conectores.
            p Asesoramos y vendemos máquinas para preparar tubos y mangueras.
            h4.heading3 Sellos y adhesivos
            p Precios especiales en O-rings, Polypaks, Wiper Parker originales.
            p Los productos se entregan con su comprobante que asegura que es un producto original Parker.
            p Precios especiales en adhesivos Loctite y Trabasil.
            p Envíos en el día de estos productos.
            p Damos cursos ó charlas de sellos y adhesivos.
            h4.heading3 Oleohidráulica
            p Enviamos al interior bombas y comandos COMMERCIAL.
            p Enviamos al interior componentes DENISON, PARKER, VOAC.
            p Reparamos componentes hidráulicos.
            p Fabricamos cilindros estándar y especiales.
            p Diseñamos y construimos centrales.
            p Diseñamos circuitos para resolver automatizaciones.
            p Conseguimos el reemplazo de cualquier componente que Ud. no consiga.
            p Diseñamos y montamos en planta líneas de tuberías óleo hidráulicas.
            p Damos cursos o charlas sobre óleo hidráulica.
            h4.heading3 Filtración
            p Vendemos filtros Parker con descuentos especiales.
            p Fabricamos carritos con componentes Parker para tratamiento y trasvase de aceites hidráulicos.
            p Damos curso y charlas sobre filtración.


//aside
aside
    //direccion
    section.direccion
            <img src="" alt="" class="fotoSede">
            <h3>Progom Berazategui</h3>
            <p class="direccion">Av. Calchaquí Km. 23.800</p>
            <p class="codigoPostal">(CP1884) - Berazategui - Bs. As.</p>
            <p class="telefono">Tel./Fax: 4275-9000 / 8120 / 7311</p>
            <p class="whatsapp">Cel: 11-6853-0261</p>
            <a href="" class="mail">ventas@progom.com.ar</a>

            #mapaDeUbicacion
    //marcasAsociadas
    section.marcasAsociadas
            p distribuimos los mejores productos de las mejores marcas nacionales e internacionales
            .carrouselDeMarcas
                .slides
                    img(src="../assets/img/slides/carousel marcas/1.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/2.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/3.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/4.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/5.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/6.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/7.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/8.PNG", alt="")
                    img(src="../assets/img/slides/carousel marcas/9.PNG", alt="")
