* {
  font-size: 0.95em;
  position: relative; }

body > div.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container-fluid * {
  border-top-width: 6px;
  border-top-color: #ff0000;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  ul.navbar-nav .nav-link {
    color: #ffffff; }
    ul.navbar-nav .nav-link:hover {
      font-weight: bold;
      color: gray; }

.container-fluid {
  height: 100vh; }

#Aside {
  margin-top: 0;
  padding-top: 0; }

li.nav-item button {
  width: 96%; }

.nav-item:hover {
  background-color: #007bff;
  font-weight: bold; }
  .nav-item:hover a:hover {
    color: #ffffff; }

iframe {
  height: auto; }

.logo.titulo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 134px; }

header {
  height: 150px; }
