.logo .triangulo {
    -webkit-clip-path: polygon(50% 100%, 3% 0, 100% 0);
    clip-path: polygon(50% 100%, 3% 0, 100% 0);
    width: 100%;
    background-color: #007bff;
    height: 50%; }
  .logo .titulo {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding: 0px; }
    nav ul.navbar-nav li.nav-item button {
      width: 96%; }
      nav ul.navbar-nav li.nav-item button:hover {
        background-color: #007bff;
        font-weight: bold; }
        nav ul.navbar-nav li.nav-item button:hover a:hover {
          color: #ffffff; }
    nav ul.navbar-nav .nav-link {
      color: #ffffff; }
      nav ul.navbar-nav .nav-link:hover {
        color: #ffffff;
        background-color: rgba(0, 123, 255, 0.5); }

body {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: 1889px;
  width: 100%; }
  body body > .container-fluid {
    height: 100vh; }
    body body > .container-fluid #Aside {
      margin-top: 0;
      padding-top: 0; }
  body .container-lg {
    height: auto; }
  body .Contenido_Principal {
    margin: 0;
    background-image: url("../Produccion/assets/img/Traslucido.jpg");
    padding: 0; }
    body .Contenido_Principal .bg-image.header {
      background-image: url("https://industriasica.com/wp-content/uploads/2019/05/producto37.jpg");
      height: 400px;
      background-size: cover;
      padding: 0; }
      body .Contenido_Principal .bg-image.header .mask {
        -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
        width: 52em;
        height: 100%;
        padding: 0em 1em 0em 0em;
        background-color: rgba(255, 255, 255, 0.54);
        overflow: hidden; }
        body .Contenido_Principal .bg-image.header .mask row.logo {
          overflow: hidden; }
        body .Contenido_Principal .bg-image.header .mask text-white {
          position: absolute; }
          body .Contenido_Principal .bg-image.header .mask text-white .logo#header.position-absolute {
            background-color: #ffffff; }
  body #main {
    height: 123em; }

.Home {
  margin-top: auto;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }
    .Home .header .mask {
      margin-top: 3em; }
  .Home .ofertas.row {
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0; }
    .Home .ofertas.row .card {
      margin: 0em;
      padding: -36px; }
        .Home .ofertas.row .card h3 span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-weight: bold; }
        .Home .ofertas.row .card h3 div.slider {
          width: 100 .Home .ofertas.row .card h3 div.slider; }
      .Home .ofertas.row .card .carousel {
        max-height: 78em; }

.row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em; }
  .row .botonWhatsapp {
    height: 65px;
    background-color: #32ff00; }
