@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: (30px / -2);
    margin-left: (30px / -2);
}

$blanco: #fff;
$azul: #007bff;
body>div.container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ul.navbar-nav {
    .nav-link {
        color: #ffffff;
    }
}

.container-fluid {
    height: 100vh;
}

#Aside {
    margin-top: 0;
    padding-top: 0;
}

body>.container-lg {
    height: auto;
}

li.nav-item button {
    width: 96%;
}

.nav-item:hover {
    background-color: $azul;
    font-weight: bold;
    & a:hover {
        color: #ffffff;
    }
}

iframe {
    height: auto;
}

.logo.titulo {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding: 0px;
}

.page {
    min-height: 100vh;
    height: 1889px;
}

#contenidoHome {
    margin-top: auto;
}

.row {
    div.ofertas {
        overflow: hidden;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        &.logo {
            height: 60px;
        }
        div.card.col-lg-3.oferta {
            h3 {
                & span {
                    display: flex;
                    font-weight: bold;
                }
                & div.slider {
                    width: 100&;
                    & img {}
                }
            }
        }
    }
    .triangulo.logo {
        -webkit-clip-path: polygon(50% 100%, 3% 0, 100% 0);
        clip-path: polygon(50% 100%, 3% 0, 100% 0);
        width: 100%;
        background-color: $azul;
        height: 50%;
    }
    .botonWhatsapp {
        height: 65px;
        background-color: #32ff00;
    }
    div.card {
        img.card-img-top {}
        div.card-body {
            h5.card-title {}
            p.card-text {}
            a.btn.btn-primary {}
        }
    }
}